body {
  background: url('banner_lady_web.jpg');
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 800px) {
    body {
      background: url('banner_lady_mobile.jpg');
      -webkit-background-size:100%;
      -moz-background-size:100%;
      -o-background-size:100%;
      background-size:100%;
      background-position:center top;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
}
